@*@model RaoVat.Models.RAOVAT

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<style>
    .unstyle {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #fff;
        margin-top: 10px;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }
    .propertyname {
        display: inline;
        color: #000;
        text-decoration: none;
    }
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- CONTENT =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">@Html.DisplayFor(model => model.TIEUDE)</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="productbox" style="padding-top:50px;">

                    <img src="@Url.Content(Model.HINHANH1)" width="600" height="400" alt="">
                    <h2 style="padding-top:20px; font-weight:bold;">@Html.DisplayFor(model => model.TIEUDE)</h2>
                    <h4 style="padding-top:20px; font-weight:bold; color:red;">@Html.DisplayFor(model => model.GIA)</h4>
                    <h4 style="padding-top:20px; font-weight:bold;">@Html.DisplayFor(model => model.DIACHI)</h4>
                    <div class="clearfix">
                    </div>
                    <hr />
                    <div class="product-details text-left">

                        <h4> @Html.DisplayFor(model => model.NOIDUNG)</h4>


                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding-top: 50px;">
                <p style="text-align:center;">
                    <img src="~/Content/assets/images/categories/user-regular.svg" alt="#" height="50" width="50">
                    <span>@Html.DisplayFor(model => model.USER.TENDANGNHAP)</span>
                </p>

                <p><button class="w3-button w3-green w3-round-xxlarge" style="width:100%; margin-top: 10px;">@Html.DisplayFor(model => model.USER.SODIENTHOAI)</button></p>
                @*<p><button class="w3-button w3-green w3-round-xxlarge" style="width:100%;margin-top:10px;">Chat Ngay</button></p>*@
                <div class="properties-box">
                    <ul class="unstyle">
                        <li><b class="propertyname">Địa Điểm:</b> @Html.DisplayFor(model => model.DIACHI)</li>
                        <li><b class="propertyname">Hình Thức:</b>@Html.DisplayFor(model => model.HINHTHUC.HINHTHUC1)</li>
                        <li><b class="propertyname">Tình Trạng:</b>@Html.DisplayFor(model => model.TINHTRANG.TINHTRANG1)</li>
                        <li><b class="propertyname">Hết Hạn:</b>@Html.DisplayFor(model => model.NGAYHETHAN)</li>
                        <li><b class="propertyname">Loại Tin:</b>@Html.DisplayFor(model => model.LOAITIN.LOAITIN1)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />

<!-- CALL TO ACTION =============================-->
<section class="content-block" style="background-color:#00bba7;">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">

            </div>
        </div>
    </div>
</section>*@

