@*@model IEnumerable<RaoVat.Models.RAOVAT>*@
@using RaoVat.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<RAOVAT>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";

}


<div id="hero-area">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="contents-ctg">

                </div>
            </div>
        </div>
    </div>
</div>




<div class="main-container section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-xs-12 page-sidebar">
                <aside>
                    @using (Html.BeginForm("Search", "Categories", FormMethod.Get))
                    {
                        <div class="widget_search">
                            <form role="search" id="search-form" >
                                <input type="text" class="form-control" autocomplete="off" name="keyword" placeholder="Search..." id="Search" />
                                <button type="submit" id="search-submit" class="search-btn"><i class="lni-search"></i></button>
                            </form>
                        </div>

                        <div class="widget categories">
                            <h4 class="widget-title">All Categories</h4>

                            @{ Html.RenderAction("CategoryPartial", "Categories");}

                        </div>
                    }
                </aside>
            </div>
            <div class="col-lg-9 col-md-12 col-xs-12 page-content">

                <div class="product-filter">
                    <div class="short-name">
                        <span>Showing (1 - 12 products of 7371 products)</span>
                    </div>
                    <div class="Show-item">
                        <span>Show Items</span>
                       @using(Html.BeginForm("Index","Categories",FormMethod.Get))
                        {
                    <form class="woocommerce-ordering" >
                        <label>
                            <select name="sortBy" class="orderby">
                                <option selected="selected" value="menu-order">Bộ lọc</option>
                                <option value="@ViewBag.PriceLowHigh">Giá giảm dần</option>
                                <option value="@ViewBag.PriceHighLow">Giá tăng dần</option>
                                <option value="@ViewBag.Newess">Tin mới</option>
                            </select>
                        </label>
                        <button style="background-color: #e91e63;border-radius:10px;color:white;" class="btn btn-default" type="submit">Lọc</button>

                    </form>
                        }
                        </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#grid-view"><i class="lni-grid"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#list-view"><i class="lni-list"></i></a>
                        </li>
                    </ul>
                </div>


                <div class="adds-wrapper">
                    <div class="tab-content">
                        <div id="grid-view" class="tab-pane fade">
                            <div class="row">
                              
                            </div>
                        </div>
                        <div id="list-view" class="tab-pane fade active show">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    @foreach (var item in Model)
                                    {
                                        <div class="featured-box Search">
                                            <figure>
                                                <span class="price-save">
                                                    @Html.DisplayFor(itemmodel => item.HINHTHUC.HINHTHUC1)
                                                </span>
                                                <div class="icon">
                                                    <span class="bg-green"><i class="lni-heart"></i></span>
                                                    <span><i class="lni-bookmark"></i></span>
                                                </div>
                                                <a href="@Url.Action("Detail", "Categories", new { id = item.MATIN }, "")"><img class="img-fluid"src="@Url.Content(item.HINHANH1)" alt=""></a>
                                            </figure>
                                            <div class="feature-content">
                                                <div class="product">
                                                    <a href="/Categories/Index/">Categories > </a>
                                                    <a href="">@Html.DisplayFor(itemmodel =>item.CATEGORY.TENLOAI)</a>
                                                </div>
                                                <h4><a href="ads-details.html">@Html.DisplayFor(itemmodel => item.TIEUDE)</a></h4>
                                                <div class="meta-tag">
                                                    <span>
                                                        <a href="#"><i class="lni-user"></i> @Html.DisplayFor(itemmodel => item.USER.TENDANGNHAP)</a>
                                                    </span>
                                                    <br />
                                                    <span>
                                                        <a href="#"><i class="lni-map-marker"></i>  @Html.DisplayFor(itemmodel => item.DIACHI)</a>
                                                    </span>
                                                    <br />

                                                    <span>
                                                        <a href="#"><i class="lni-tag"></i> Loại Tin: @Html.DisplayFor(itemmodel => item.CATEGORY.TENLOAI)</a>
                                                    </span>
                                                </div>

                                                <p class="dsc">Ngày giờ đăng: @Html.DisplayFor(itemodel => item.NGAYGIODANG)</p>
                                                <div class="listing-bottom">
                                                    <h3 class="price float-left">Giá: @Html.DisplayFor(itemmodel => item.GIA)</h3>
                                                    <a href="@Url.Action("Detail", "Categories", new { id = item.MATIN }, "")" class="btn btn-common float-right">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="pagination-bar">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link " href="/Categories/Index?page=1">1</a></li>
                            <li class="page-item"><a class="page-link" href="/Categories/Index?page=2">2</a></li>
                            <li class="page-item"><a class="page-link" href="/Categories/Index?page=3">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                        @*Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/ @Model.PageCount
                        <div class="MenuPage">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))*@
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>





<br />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>