@model IEnumerable<RaoVat.Models.RAOVAT>
@{ ViewBag.Title = "SearchOption";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <style>
        .MenuPage {
            display: grid;
        }

        .formtim {
            position: relative;
            display: inline-block;
            padding-left: 200px;
        }

        .bntcss {
            display: inline-block;
            padding: 12px 36px 5px;
            margin: 10px 0 0 400px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 2px;
            border-radius: 40px;
            background: linear-gradient(90deg,#0162c8,#55e7fc);
        }
    </style>

    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                @{ Html.RenderAction("CategoryPartial", "Categories");}
            </div>

            <div class="col-md-10" style="margin-top:10px">
                <!-- Start Search Form -->
                @using (Html.BeginForm("SearchOption", "Categories", FormMethod.Get))
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4" style="padding:0 0 10px 300px;">
                                <text style="font-size:15px;">Từ</text>
                                <input type="number" name="min" class="form-control" />
                                <text style="font-size:15px;">Đến</text>
                                <input type="number" name="max" class="form-control"  />
                                <input type="submit" value="Search" class="btn btn-primary" />
                            </div>

                        </div>
                    </div>
                }
                <br /><br /><br />
                <!-- End Search Form -->
                <section class="row-item-grid">
                    @foreach (var item in Model)
                    {
                        @*<div class="card w-100 mg-all">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <img src="@Url.Content(item.HINHANH1)" class="img-fluid img-mg" height="150px" width="150px" alt="">
                                    </div>
                                    <div class="col">
                                        <div class="card-block px-2 float-start">
                                            <h4 class="card-title">@Html.DisplayFor(itemmodel => item.TIEUDE)</h4>
                                            <h4 class="card-text h-color-price">Giá: @Html.DisplayFor(itemmodel => item.GIA)</h4>
                                            <a href="#" class="btn btn-primary btn-xct">Xem Chi Tiết</a>
                                            <a href="#" class="card-link"> <img src="~/Content/assets/images/categories/user-regular.svg" width="30" height="30" /> @Html.DisplayFor(itemmodel => item.USER.TENDANGNHAP)</a>
                                            <a href="#" class="card-link"> <img src="~/Content/assets/images/categories/maps-and-flags.png" width="30" height="30" /> @Html.DisplayFor(itemmodel => item.DIACHI)</a>
                                        </div>
                                        <div class="vl float-start"></div>
                                        <div class="card-block px-2 float-start">
                                            <p style="color:green"><img src="~/Content/assets/images/categories/phone-icon.png" width="20" height="20" /> @Html.DisplayFor(itemmodel => item.USER.SODIENTHOAI)</p>
                                            <p class="mg-p-t"><img src="~/Content/assets/images/categories/watch.svg" width="20" height="20" /> @Html.DisplayFor(itemmodel => item.NGAYGIODANG)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="@Url.Content(item.HINHANH1)" class="card-img" height="250" width="200">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayFor(itemmodel => item.TIEUDE)</h5>
                                        <p class="card-text h-color-price">Giá: @Html.DisplayFor(itemmodel => item.GIA)</p>
                                        <p class="card-text"><img src="~/Content/assets/images/categories/user-regular.svg" width="20" height="20" /> @Html.DisplayFor(itemmodel => item.USER.TENDANGNHAP)</p>
                                        <p class="card-text"><img src="~/Content/assets/images/categories/phone-icon.png" width="20" height="20" /> @Html.DisplayFor(itemmodel => item.USER.SODIENTHOAI)</p>
                                        <p class="card-text"><small class="text-muted"><img src="~/Content/assets/images/categories/maps-and-flags.png" width="20" height="20" /> @Html.DisplayFor(itemmodel => item.DIACHI)</small></p>
                                        <p class="card-text"><small class="text-muted"><img src="~/Content/assets/images/categories/watch.svg" width="20" height="20" /> @Html.DisplayFor(itemmodel => item.NGAYGIODANG)</small></p>
                                        @Html.ActionLink("Xem Chi Tiết", "Detail", new { id = item.MATIN }, new { @class = "learn-more detailslearn btn btn-primary" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>

    <br />
