<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="~/Content/assets/css/animate.css" />
    <link rel="stylesheet" href="~/Content/assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="~/Content/assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
    <link rel="stylesheet" href="~/Content/assets/css/cate.css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>
    @if (Session["TENDANGNHAP"] == null)
    {
        <!-- Preloader -->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- /End Preloader -->
        <!-- Start Header Area -->
        <header class="header navbar-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="nav-inner">
                            <nav class="navbar navbar-expand-lg">
                                <a class="navbar-brand" href="/Home/Index">
                                    <img src="~/Content/assets/images/logo/logo1.png" alt="Logo">
                                </a>
                                <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                    <ul id="nav" class="navbar-nav ms-auto">
                                        <li class="nav-item">
                                            <a href="/Home/Index">Trang Chủ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" aria-label="Toggle navigation">Danh mục sản phẩm</a>
                                            <ul class="sub-menu mega-menu collapse" id="submenu-1-4">
                                                <li class="single-block">
                                                    <ul>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Xe" }, "")">Xe</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Đồ điện tử" }, "")">Đồ điện tử</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Hôn nhân" }, "")">Hôn nhân</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Nội thất" }, "")">Nội thất</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Công việc" }, "")">Công việc</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Địa ốc" }, "")">Địa ốc</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Sức khỏe và làm đẹp" }, "")">Sức khỏe và làm đẹp</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Thời trang" }, "")">Thời trang</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Giáo dục" }, "")">Giáo dục</a></li>
                                                    </ul>
                                                </li>
                                                <li class="single-block">
                                                    <ul>
                                                        <li class="nav-item">
                                                            <a href="@Url.Action("Index","Categories",new { category = "Dụng cụ" }, "")">Dụng cụ</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="@Url.Action("Index","Categories",new { category = "Du lịch" }, "")">Du lịch</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="/Categories/Index">Tất cả danh mục</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div> <!-- navbar collapse -->
                                <div class="login-button">
                                    <ul>
                                        <li>
                                            <a href="/User/Index"><i class="lni lni-enter"></i> Đăng Nhập</a>
                                        </li>
                                        <li>
                                            <a href="/User/RegisterUser"><i class="lni lni-user"></i> Đăng Ký</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="button header-button">
                                    <a href="/Ads/Create" class="btn">Đăng Tin</a>
                                </div>
                            </nav> <!-- navbar -->
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </header>

        <!-- End Header Area -->
        <div>
            @RenderBody()
        </div>

        <!-- Start Footer Area -->
        <footer class="footer">
            <!-- Start Footer Top -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer mobile-app">
                                <h3></h3>
                                <div>
                                    <a class="navbar-brand" href="/Home/Index">
                                        <img src="~/Content/assets/images/logo/logo1.png" alt="Logo">
                                    </a>
                                </div>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link">
                                <h3>Địa điểm</h3>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <ul>
                                            <li><a href="javascript:void(0)">TP.HCM</a></li>
                                            <li><a href="javascript:void(0)">Hà Nội</a></li>
                                            <li><a href="javascript:void(0)">Hải Phòng</a></li>
                                            <li><a href="javascript:void(0)">Đà Nẵng</a></li>
                                            <li><a href="javascript:void(0)">Cần Thơ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link">
                                <h3>Thông tin</h3>
                                <ul>
                                    <li><a href="javascript:void(0)">Giới thiệu</a></li>
                                    <li><a href="javascript:void(0)">Hướng Dẫn</a></li>
                                    <li><a href="javascript:void(0)">Quy chế hoạt động</a></li>
                                    <li><a href="javascript:void(0)">Cơ chế giải quyết tranh chấp</a></li>
                                    <li><a href="javascript:void(0)">Chính sách bảo vệ thông tin</a></li>
                                    <li><a href="javascript:void(0)">Trợ giúp</a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-contact">
                                <h3>Liên hệ</h3>
                                <ul>
                                    <li>CÔNG TY TNHH RAO VẶT<br> Địa chỉ: 363 Bình Trị Đông, Phường Bình Trị Đông A, Quận Bình Tân, TP Hồ Chí Minh</li>
                                    <li>Đường dây nóng: (097)50569038 <br> Email: trogiup@raovat.vn</li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Footer Middle -->
            <!-- Start Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="inner">
                        <div class="row">
                            <div class="col-12">
                                <div class="content">
                                    <p class="copyright-text">
                                        Được thiết kế và phát triển bởi <a href="https://raovat.com/"
                                                                           rel="nofollow" target="_blank">RaoVat</a>
                                    </p>
                                    <ul class="footer-social">
                                        <li><a href="https://www.facebook.com/luongdthong28899/"><i class="lni lni-facebook-filled"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCuFI_vUPvA0yIycM8bgjxjg"><i class="lni lni-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Middle -->
        </footer>
        <!--/ End Footer Area -->
        <!-- ========================= scroll-top ========================= -->
        <a href="#" class="scroll-top btn-hover">
            <i class="lni lni-chevron-up"></i>
        </a>

        <!-- ========================= JS here ========================= -->
        <script src="~/Content/assets/js/bootstrap.min.js"></script>
        <script src="~/Content/assets/js/wow.min.js"></script>
        <script src="~/Content/assets/js/tiny-slider.js"></script>
        <script src="~/Content/assets/js/glightbox.min.js"></script>
        <script src="~/Content/assets/js/main.js"></script>
        <script type="text/javascript">
            //========= Category Slider
            tns({
                container: '.category-slider',
                items: 3,
                slideBy: 'page',
                autoplay: false,
                mouseDrag: true,
                gutter: 0,
                nav: false,
                controls: true,
                controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
                responsive: {
                    0: {
                        items: 1,
                    },
                    540: {
                        items: 2,
                    },
                    768: {
                        items: 4,
                    },
                    992: {
                        items: 5,
                    },
                    1170: {
                        items: 6,
                    }
                }
            });
        </script>
    }
    else
    {
        <!-- Preloader -->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- /End Preloader -->
        <!-- Start Header Area -->
        <header class="header navbar-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="nav-inner">
                            <nav class="navbar navbar-expand-lg">
                                <a class="navbar-brand" href="/Home/Index">
                                    <img src="~/Content/assets/images/logo/logo1.png" alt="Logo">
                                </a>
                                <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                    <ul id="nav" class="navbar-nav ms-auto">
                                        <li class="nav-item">
                                            <a href="/Home/Index">Trang Chủ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" aria-label="Toggle navigation">Danh mục sản phẩm</a>
                                            <ul class="sub-menu mega-menu collapse" id="submenu-1-4">
                                                <li class="single-block">
                                                    <ul>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Xe" }, "")">Xe</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Đồ điện tử" }, "")">Đồ điện tử</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Hôn nhân" }, "")">Hôn nhân</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Nội thất" }, "")">Nội thất</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Công việc" }, "")">Công việc</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Địa ốc" }, "")">Địa ốc</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Sức khỏe và làm đẹp" }, "")">Sức khỏe và làm đẹp</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Thời trang" }, "")">Thời trang</a></li>
                                                        <li class="nav-item"><a href="@Url.Action("Index","Categories",new { category = "Giáo dục" }, "")">Giáo dục</a></li>
                                                    </ul>
                                                </li>
                                                <li class="single-block">
                                                    <ul>
                                                        <li class="nav-item">
                                                            <a href="@Url.Action("Index","Categories",new { category = "Dụng cụ" }, "")">Dụng cụ</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="@Url.Action("Index","Categories",new { category = "Du lịch" }, "")">Du lịch</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="/Categories/Index">Tất cả danh mục</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div> <!-- navbar collapse -->
                                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                    <ul id="nav" class="navbar-nav ms-auto">
                                        <li class="nav-item">
                                            <a class=" dd-menu collapsed" href="javascript:void(0)"
                                               data-bs-toggle="collapse" data-bs-target="#submenu-1-5"
                                               aria-controls="navbarSupportedContent" aria-expanded="false"
                                               aria-label="Toggle navigation"><img src="~/Content/assets/images/categories/user-regular.svg" width="30" height="30" />  @Session["TENDANGNHAP"]</a>
                                            <ul class="sub-menu collapse" id="submenu-1-5">
                                                <li class="nav-item">
                                                    <a href="/Ads/QuanLyTin">Quản lý rao vặt</a>
                                                </li>
                                                <li class="nav-item">
                                                    @{
                                                        if (Session["TENDANGNHAP"] != null)
                                                        {
                                                            var a = Session["TENDANGNHAP"];
                                                            <a href="@Url.Action("DetailInfo","Ads",new { id = a.ToString()})">Thông tin cá nhân</a>
                                                        }
                                                    }
                                                </li>
                                                <li class="nav-item">
                                                    <a href="@Url.Action("LogOutUser","User")">Đăng Xuất</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="button header-button">
                                    <a href="/Ads/Create" class="btn">Đăng Tin</a>
                                </div>
                            </nav> <!-- navbar -->
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </header>

        <!-- End Header Area -->
        <div>
            @RenderBody()
        </div>

        <!-- Start Footer Area -->
        <footer class="footer">
            <!-- Start Footer Top -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer mobile-app">
                                <h3></h3>
                                <div>
                                    <a class="navbar-brand" href="/Home/Index">
                                        <img src="~/Content/assets/images/logo/logo1.png" alt="Logo">
                                    </a>
                                </div>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link">
                                <h3>Địa điểm</h3>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <ul>
                                            <li><a href="javascript:void(0)">TP.HCM</a></li>
                                            <li><a href="javascript:void(0)">Hà Nội</a></li>
                                            <li><a href="javascript:void(0)">Hải Phòng</a></li>
                                            <li><a href="javascript:void(0)">Đà Nẵng</a></li>
                                            <li><a href="javascript:void(0)">Cần Thơ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link">
                                <h3>Thông tin</h3>
                                <ul>
                                    <li><a href="javascript:void(0)">Giới thiệu</a></li>
                                    <li><a href="javascript:void(0)">Hướng Dẫn</a></li>
                                    <li><a href="javascript:void(0)">Quy chế hoạt động</a></li>
                                    <li><a href="javascript:void(0)">Cơ chế giải quyết tranh chấp</a></li>
                                    <li><a href="javascript:void(0)">Chính sách bảo vệ thông tin</a></li>
                                    <li><a href="javascript:void(0)">Trợ giúp</a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-contact">
                                <h3>Liên hệ</h3>
                                <ul>
                                    <li>CÔNG TY TNHH RAO VẶT<br> Địa chỉ: 363 Bình Trị Đông, Phường Bình Trị Đông A, Quận Bình Tân, TP Hồ Chí Minh</li>
                                    <li>Đường dây nóng: (097)50569038 <br> Email: trogiup@raovat.vn</li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Footer Middle -->
            <!-- Start Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="inner">
                        <div class="row">
                            <div class="col-12">
                                <div class="content">
                                    <p class="copyright-text">
                                        Được thiết kế và phát triển bởi <a href="https://raovat.com/"
                                                                           rel="nofollow" target="_blank">RaoVat</a>
                                    </p>
                                    <ul class="footer-social">
                                        <li><a href="https://www.facebook.com/luongdthong28899/"><i class="lni lni-facebook-filled"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCuFI_vUPvA0yIycM8bgjxjg"><i class="lni lni-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Middle -->
        </footer>
        <!--/ End Footer Area -->
        <!-- ========================= scroll-top ========================= -->
        <a href="#" class="scroll-top btn-hover">
            <i class="lni lni-chevron-up"></i>
        </a>

        <!-- ========================= JS here ========================= -->
        <script src="~/Content/assets/js/bootstrap.min.js"></script>
        <script src="~/Content/assets/js/wow.min.js"></script>
        <script src="~/Content/assets/js/tiny-slider.js"></script>
        <script src="~/Content/assets/js/glightbox.min.js"></script>
        <script src="~/Content/assets/js/main.js"></script>
        <script src="~/Scripts/jquery-3.6.0.min.js"></script>
        <script src="~/Scripts/script.js"></script>
        <script type="text/javascript">
            //========= Category Slider
            tns({
                container: '.category-slider',
                items: 3,
                slideBy: 'page',
                autoplay: false,
                mouseDrag: true,
                gutter: 0,
                nav: false,
                controls: true,
                controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
                responsive: {
                    0: {
                        items: 1,
                    },
                    540: {
                        items: 2,
                    },
                    768: {
                        items: 4,
                    },
                    992: {
                        items: 5,
                    },
                    1170: {
                        items: 6,
                    }
                }
            });
        </script>
    }
</body>
</html>
